<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Automation Test Suite" verbose="2" parallel="false">
    
    <test name="API Booking Tests" enabled="true">
        <classes>
            <class name="com.automation.framework.runners.TestRunner" />
        </classes>
    </test>
</suite>
